* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    background-color: #47520b;
}
header {
    background-color: #47520b;
    padding: 10px;
    text-align: center;
    font-size: 10px;
    color: white;
    text-shadow: 0px 2px 4px rgb(0, 0, 0)
}
footer {
    background-color: #47520b;
    padding: 10px;
    text-align: center;
    color: white;
    font-style: italic;
    text-shadow: 0px 2px 4px rgb(0, 0, 0)
}
h2 {
    text-decoration: underline;
}




nav {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(26, 26, 26);
    color: white;
    box-shadow: 0px 2px 4px rgb(0, 0, 0);
}
.nav_logo {
    height: 100px;
    width: 100px;
    margin-left: 10px;
}
nav ul {
    display: flex;
}
nav ul li {
    height: 100%;
    padding: 20px;
    list-style-type: none;
    border-bottom: 4px solid rgb(26, 26, 26);
}
nav ul li:hover {
    border-bottom: 4px solid #9db610;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 0px 2px 4px rgb(0, 0, 0)
}
.active {
    color: #9bd610;
}
.toggle-button {
    position: absolute;
    top: 80px;
    right: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
}
.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 100px;
}
@media(max-width:650px) {
    .list-container {
        display: none;
        width: 100%;
    }
    .toggle-button {
        display: flex;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .list-container ul {
        flex-direction: column;
        width: 100%;
    }
    .list-container li {
        text-align: center;
    }
    .list-container.active {
        display: flex;
    }
    



}

table {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}
table th {
    border: 1px solid black;
    padding: 5px;
    background-color: #47520b;
    text-shadow: 0px 2px 4px rgb(0, 0, 0)
}
table td {
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}





#bailey2 {
    height: 30%;
    width: 30%;
}






article {
    min-width: 550px;
    margin: 10px;
    padding: 20px;
    background-color: rgb(26, 26, 26);
    box-shadow: 0px 2px 4px rgb(0, 0, 0);
    border-radius: 8px;
    color: #fbf3a1;
}
.article_index {
    text-align: center;
}
.article_angebot {
    text-align: center;
}
.article_datenschutz {
    text-align: center;
}
.article_impressum {
    text-align: center;
}
.article_kontakt {
    display: flex;
    flex-direction: column;
    align-items: center;
}





form { 
    height: 850px;
    width: 500px;
    padding: 20px;
    margin: 50px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgb(0, 0, 0);  
}
.inputs_container input {
    height: 20px;
    width: 300px;
    margin: 10px;
    padding: 1px;  
}
.inputs_container label {
   float: left;
   width: 150px;
   margin: 10px;
}
fieldset {
    margin-top: 10px;
}
legend {
    margin-left: 10px;
    padding: 10px;
    color: #9bd610;
}
.kontakt_checkliste {
    list-style-type: none;
}
.kontakt_checkliste li{
    margin: 10px;
}
.checkbox_container{
    margin-top: 30px;
}
#dogs {
    margin: 10px;
}
.date_container{
    margin-top: 30px;
}
.date_container input {
    margin: 10px;
}
.submit_container {
    margin-top: 35px;
    text-align: center;   
}
.submit_container input {
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0px 2px 4px rgb(0, 0, 0);
    background-color: black;
    color: #9bd610;    
}
.submit_container input:hover {
    border: 2px solid;
    color: white;
    border-color: #9db610;
    background-color: #47520b;
}